<% layout('../_common/layouts/general') %>
<style type="text/css">

</style>
<script type="text/javascript">

</script>
<form class="row m-0 mx-1">
	<div id="mainCtrl" class="px-0 pt-2"></div>
</form>
<script type="text/javascript">
var mainDivId = '#mainCtrl'
if(window.location.hash == '') {
	window.location.hash = '/dashboard/main?mid=0'
	window.location.reload()
}

$(document).ready(() => {
	sayfayiGoster()
	window.onhashchange = () => {
		hashObj = getHashObject()

		sayfayiGoster()
	}
})

function sayfayiGoster() {
	publishPage(mainDivId,
		() => { //before
			anotherViewStyle(mainDivId)
			$(mainDivId).html('loading...')

			if((((hashObj || {}).query || {}).mid || '') != '') {
				$(`#leftMenu a`).removeClass('active')
				$(`#leftMenu #menu${hashObj.query.mid.replaceAll('.','-')}`).addClass('active')
			}
			toggleMenu()
		},
		() => { //after

		})
}

function toggleMenu(status) {
	if(status == 'show') {
		$('#side-menu').toggle(0)
	} else if(window.innerWidth < 1000) {
		$('#side-menu').hide()

	}
}


function anotherViewStyle(divId) {
	switch ((hashObj.query || {}).view || '') {
		case 'print':
			viewStylePrint(divId)
			break
		case 'plain':
			viewStylePlain(divId)
			break
	}
}

function viewStylePlain(divId) {

	$('body').addClass('plain')

}

function viewStylePrint(divId) {

	// $('body').hide()

	$('body').addClass('print')

	if(!document.querySelector('#printButtonPanel')) {
		let s = `<div id="printButtonPanel" class="px-2 d-flex justify-content-end align-items-center">
		<a class="btn btn-outline-light" href="javascript:frameYazdir('${divId} iframe')"><i class="fas fa-print"></i> Yazdır</a>
		<a class="btn btn-dark ms-3" href="javascript:pencereyiKapat()"><i class="fas fa-times"></i> Kapat</a>
		</div>
		`
		document.querySelector('#right-side main').insertAdjacentHTML('afterend', s)
	}

	// $('body').show()
}
</script>