<% layout('../_common/layouts/general') %>
<form class="row m-0">
	<div id="mainCtrl" class="px-0 pt-2"></div>
</form>
<script type="text/javascript">
var mainDivId = '#mainCtrl'
if(window.location.hash == '') {
	window.location.hash = '/dashboard/main?mid=0'
	window.location.reload()
}

$(document).ready(() => {

	sayfayiGoster()
	window.onhashchange = () => {
		hashObj = getHashObject()

		sayfayiGoster()
	}
})

function sayfayiGoster() {
	publishPage(mainDivId,
		() => { //before
			anotherViewStyle(mainDivId)
			$(mainDivId).html('loading...')

			if((((hashObj || {}).query || {}).mid || '') != '') {
				$(`#leftMenu a`).removeClass('active')
				$(`#leftMenu #menu${hashObj.query.mid.replaceAll('.','-')}`).addClass('active')
			}
			toggleMenu()
		},
		() => { //after

		})
}

function toggleMenu(status) {
	if(status == 'show') {
		$('#menu-side').toggle(0)
	} else if(window.innerWidth < 1000) {
		$('#menu-side').hide()

	}
}


function anotherViewStyle(divId) {
	switch ((hashObj.query || {}).view || '') {
		case 'print':
			viewStylePrint(divId)
			break
		case 'plain':
			viewStylePlain(divId)
			break
	}
}

function viewStylePlain(divId) {

	$('body').hide()
	// $('#title-panel').hide()
	// $('#title-panel').removeClass('d-flex')
	$('#top-panel').hide()
	$('#top-panel').removeClass('d-flex')

	$('#side-menu').hide()

	
	$('#side-menu').hide()
	$('#side-menu').css('margin-top', '0px')

	$('#right-side footer').hide()
	$('#right-side footer').removeClass('d-flex')
	

	$('body').show()
}

function viewStylePrint(divId) {

	$('body').hide()
	$('#title-panel').hide()
	$('#title-panel').removeClass('d-flex')
	$('#top-panel').hide()
	$('#top-panel').removeClass('d-flex')
	$('#side-menu').hide()
	$('#side-menu').css('margin-top', '0px')
	$('#right-side footer').hide()
	$('#right-side footer').removeClass('d-flex')
	
	$(divId).addClass('print')


	$('body').css('margin', 0)

	if(!document.querySelector('#printButtonPanel')) {

		let s = `<div id="printButtonPanel" class="row m-0 border">
		<div class="col-12 p-2">
		<a class="btn btn-primary ms-3 mt-2" href="javascript:frameYazdir('${divId} iframe')"><i class="fas fa-print"></i> Yazdır</a>
		<a class="btn btn-dark ms-3 mt-2" href="javascript:pencereyiKapat()"><i class="fas fa-times"></i> Kapat</a>
		</div>
		</div>
		`
		document.querySelector('#right-side main').insertAdjacentHTML('afterend', s)
	}

	$('body').show()
}
</script>