<nav class="nav nav-pills flex-column w-100">
	<div id="leftMenu"></div>
	<hr class="w-100 mt-3">
	<%
		let supportText=`<i class="fab fa-whatsapp fs-125"></i> Destek`
		let supportHref=`javascript:openInNewTab('https://api.whatsapp.com/send/?phone=905533521042&text=destek+almak+istiyorum');`
		if(typeof config.customization.support!='undefined'){
			supportText=config.customization.support.text || supportText
			supportHref=config.customization.support.href || supportHref
		}
	%>
	<a id="support-link" class="nav-link d-flex align-items-center" href="<%- supportHref %>">
		<%- supportText %>
	</a>
	
	
</nav>

<script type="text/javascript">
	$(document).ready(()=>{
		document.getElementById('leftMenu').innerHTML=generateLeftMenu(global.menu)
	})
</script>