$primary: #0075B0;
$secondary: #d18f52;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;


// $primary:#083358;
// $secondary:#F67280;
// $success:#0074E4;
// $danger:#FF4057;
// $info:#74DBEF;
// $warning:#FC3C3C;
// $light:#F2F2F0;
// $dark:#072247;

$min-contrast-ratio: 4.0;

@import "./_base";

header {
		color: var(--bs-gray-400);
		// color: var(--bs-primary);
		background-color: var(--bs-primary);

		.nav-item, .nav-item .nav-link {
			background-color: none; //var(--bs-primary);
			color: var(--bs-gray-400)!important;
		}
		// .nav-link,
		// .dropdown-item,
		// .dropdown-menu {
		// 	color: var(--bs-gray-800);
		// 	// color: var(--bs-primary);
		// 	background-color: var(--bs-gray-300);
		// }

		// .dropdown-item.active {
		// 	color: var(--bs-gray-300);
		// 	background-color: var(--bs-primary);
		// }

		//.border-bottom {
		// border-bottom: 1px solid var(--bs-gray-900) !important;
		border-bottom: none !important;
		//}
	}

.dark {
	#side-menu {
		color: var(--bs-gray-200);
		background-color: var(--bs-gray-900);

		.nav-link {
			color: var(--bs-gray-200);
			background-color: var(--bs-gray-900);
		}


		.nav-pills .nav-link.active,
		.nav-pills .show>.nav-link {
			color: var(--bs-gray-200);
			background-color: var(--bs-primary);
		}
	}

	body {
		background-color: var(--bs-gray-900);
	}

	footer {
		color: var(--bs-gray-500);
	}
}